.DS_Store
node_modules
npm-debug.log
bower_components
dist
*.sass-cache*
*.log
assets/stylesheets/
assets/components/
assets/javascript/vendor/
assets/javascript/foundation.js
assets/javascript/custom/demosite.js
packaged/
wpcs/
